body{
    background-color:darkslategray;
    text-align: center;
}
#refresh{
   font-size: 5rem;
   font-family: 'Quicksand', sans-serif;
   color:blanchedalmond;
   border-radius: 1rem;
}
.Ricon{
    font-size: 2rem;
    color:blanchedalmond;
}
.players{
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    padding: 0 7rem 0;
    color: azure;
}
table {

    margin: 0 auto;

}
#dice1{
    font-size: 10rem;
}
#dice2{
    font-size: 10rem;
}
#result{
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    color:blanchedalmond;
 }

